body {
    /*background-color: mistyrose;*/
    background-color: silver;
}

header {
    text-align: center;
}

header h1 {
    margin: 15px 0;
}

header nav a {
    padding: 5px 7px;
    border: 1px solid #333;
}

fieldset {
    border: 1px solid #333;
    padding: 15px;
    margin-bottom: 15px;
}

fieldset legend {
    padding: 15px;
    width: auto;
    margin-bottom: 0;
}

label {
    font-weight: 700;
}

form label {
    display: block;
}

.rock-info {
    padding: 10px;
    border-bottom: 1px solid black;
    width: 500px;
    margin: auto;
}

.rock-info:last-child {
    border-bottom: none;
}

.rock-info nav {
    display: inline-block;
    width: 140px;
    float: right;
}