{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
  {{ rock.name }} :: {{ block.super }}
{% endblock title %}

{% block content %}
  <fieldset>
    <legend>Rock Detail</legend>
    <section>
      <h3>{{ rock.name }}</h3>
      <ul>
        <li>
          <label>ID: </label>{{ rock.id }}
        </li>
        <li>
          <label>Slug:</label>{{ rock.slug }}
        </li>
        <li>
          <label>Description:</label>
          <p>{{ rock.description }}</p>
        </li>
      </ul>
    </section>
    <nav>
      <a href="{% url 'update_rock' pk=rock.id %}" class="btn btn-primary">Update</a>
    </nav>
  </fieldset>
  {% include 'rocks/_request_data.html' %}
{% endblock content %}





