{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
  Rocks :: {{ block.super }}
{% endblock title %}

{% block content %}
  <fieldset>
    <legend>Rock List</legend>
    <section>
      {% for r in rocks %}
        <div class="rock-info">
          <strong>{{ r.name }}</strong>
          <nav>
            <a href="{% url 'rock' id=r.id %}" class="btn btn-sm btn-info">Details</a>
            <a href="{% url 'update_rock' pk=r.id %}" class="btn btn-sm btn-primary">Update</a>
            <a href="{% url 'delete_rock' pk=r.id %}" class="btn btn-sm btn-danger">Delete</a>
          </nav>
        </div>
      {% endfor %}
    </section>
  </fieldset>
{% endblock content %}
